html {
    background-color: #999;
}
table {
    border-collapse: collapse;
}
#top {
    height: 50px;
}
td {
    width: 80px;
    text-align: center;
}
td[colspan="5"] {
    width: 400px;
}
th {
    width: 560px;
    background-color: #fbb;
}
#top #even {
    background-color: #ddd;
}
#top #odd {
    background-color: #bbb;
}