html {
    background-color: #999;
}
table {
    border-collapse: collapse;
}
.top {
    height: 50px;
}
td {
    width: 80px;
    text-align: center;
}
td[colspan="5"] {
    width: 400px;
}
th {
    width: 560px;
    background-color: #99f;
}
.top .even, .sun.even {
    background-color: #fbb;
}
.top .odd, .sun.odd {
    background-color: #f99;
}
.odd {
    background-color: #bbf;
}
.even {
    background-color: #99f;
}
.selected {
    background-color: #bbb;
}
.current {
    font-weight: bold;
}
.tr-w4 {
    height: 60;
}
.tr-w5 {
    height: 48;
}
.tr-w6 {
    height: 40;
}