html {
    background-color: #999;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
.top, .week {
    height: 50px;
}
td {
    width: 80px;
    text-align: center;
    background: linear-gradient(0.125turn, #aaa, #ddd);
    cursor: default;
}
.top td[colspan="5"] {
    width: 400px;
    background: linear-gradient(0.5turn, #aaa, #ddd);
}
.top td {
    background: linear-gradient(0.625turn, #aaa, #ddd);
}
th {
    width: 560px;
    background-color: #99f;
}
td.current, .week * {
    background: linear-gradient(0.375turn, #68f, #ade);
}
.top *, .sun.current, .week .sun {
    background: linear-gradient(0.375turn, #e86, #faa);
}
td.selected, td.sun.selected {
    background: linear-gradient(0.375turn, #757, #cac);
}
.tr-w4 {
    height: 60;
}
.tr-w5 {
    height: 48;
}
.tr-w6 {
    height: 40;
}